<footer class="bd-footer py-4 py-md-5">
    <div class="container py-4 py-md-5 px-4 px-md-3">
        <div class="row">
            <div class="col-lg-6 mb-3">
                <h3>Github Docs</h3>
                <p>
                    Effortless documentation for every project on Github 🤓
                </p>

                
            </div>
            <div class="col-lg-6 mb-3">
                <h4>Search</h4>
                <p>
                    Find a GitHub Repo to view.
                </p>
                <form class="d-flex bd-search" role="search" action="/githubdocs_repo_search" method="post">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search bd-search-icon" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                    <input class="form-control me-2" type="search" placeholder="Search Repos" aria-label="Search" id="q" name="q">
                </form>
                {{search_content | safe}}
            </div>
       </div>
    </div>
</footer>